{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>INVITADO </title>
</head>
<body>

    <header>
            <nav class="nav">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="#" class="logo">LIBRERIA ORELLANA</a>
                



            <h2 class="h2-sub">
                <span class="fil">B</span>ienvenido
            </h2>
    </section>

    <section class="dis-sto">
            <div class="res-info">
                <div>
                    <img src="https://img.freepik.com/fotos-premium/estanteria-borrosa-muchos-libros-antiguos-libreria-o-biblioteca_36051-168.jpg?w=2000" alt="">
                </div>
            
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                        </h2>
                        <h1 class="head hea-dark">La Historia</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                       Libreria ORELLANA abrió su local en el año 2000, llevamos
                       22 años a tu servicio.
                    </p>
                </div>

            </div>
        </div>
    </section>


   


    <section class="disco">
            <div class="res-info">
                <div class="res-des">
                    <div class="global">
                        <h2 class="h2-sub">
                        </h2>
                        <h1 class="head hea-dark">Menu</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                       En esta sección encontraras todos los productos disponibles.
                    </p>
                    <a href="#" class="btn cta-btn">Abrir menu</a>
                </div>
                <div class="image-group pad-rig">
                    
                    <img src="https://www.nacion.com/resizer/wXc8qsg3SiVgT8S10z8BA5Y7Dv4=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/WW2EDB5M5FAHHBLHNMQ7DOLII4.jpeg" alt="">
                </div>

            </div>
        </div>
    </section>

   

    <section>
        <div class="container">
            <div class="res-info">

                <div class="image-group">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/libreria-1668095730.jpg?resize=640:*" alt="">
                </div>
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">R</span>eserva tus productos
                        </h2>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <a href="#" class="btn cta-btn">Has una reservacion</a>
                </div>
            </div>

        </div>
            </div>

        </div>
    </section>

    <div>
        <a href="/libreriaorellana/lte/" class="btn cta-btn">Regresar a la pagina principal</a>

    </div>

                

    
</body>
</html>